.main1{
    height: 280px;
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: #F3F3F3;
    padding: 20px 50px;
}
.f-row{
    height: 80px;
    /* border: 1px solid blue; */
    justify-content: space-between;
}
.f-row input{
    width: 300px;
}
.main1 button{
    width: 150px;
    font-weight: 600;
    
}