
.nav{
    /* border: 1px solid red; */
    height: 70px;
    background-color: #1266F1;
    padding: 20px 30px;
}

.headDashMain{
    /* border: 1px solid red; */
    text-align: left;
    padding-left: 30px;
}

.headDash{
    font-weight: 700;
    text-align: left;
    font-size: 30pt;
}